.Dock {
    min-height: 35vh;
    width: 100vw;
    background-color: rgb(76, 247, 190);
    color: rgb(255, 252, 248);
    box-sizing: border-box;
    display: inline-flex;
}

.Dock > * {
    border: 1px solid red;
}

/* Scenes Styling */
.Scenes {
    width: 25vw;
}
.Scenes .container {
    background: blue;
    height: 100%;
}
.Scenes .list {
    background: rgba(255, 0, 0, 0.5);

}

/* Sources Styling */
.Sources {
    width: 25vw;
}
.Sources .container {
    background: yellow;
    height: 100%;
}
.Sources .list {
    background: rgba(255, 0, 0, 0.5);

}

/* Mixer Styling */
.Mixer {
    width: 30vw;
}
.Mixer .container {
    background: green;
    height: 100%;
}
.Mixer .mix {
    background: rgba(255, 0, 0, 0.5);

}

/* Buttons Styling */
.Buttons {
    width: 20vw;
}
.Buttons .container {
    background: red;
    height: 100%;
}
.Buttons .actions {
}